{% extends 'core/base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<header class="about-header pt-5 mt-5">
   <div class="container">
      <h2 class="text-secondary text-center">BIO</h2>
      <hr class="underline-hr">
      <p class="text-center">Web Application Developer specializing in Python, Django, HTML, CSS, and Bootstrap.</p>
   </div>
</header>
<section id="about-section" class="my-5">
   <div class="container">
      <div class="jobs">
         <div class="jobs__job">
            <h2 class="text-secondary">2016 - Current</h2>
            <h3>Freelance Developer</h3>
            <h6>Web Application Developer</h6>
         </div>
      </div>
   </div>
</section>
{% endblock %}